{% if is_granted('ROLE_AUTEUR') %}
    <footer>
        <a class="btn btn-default" href="{{ path('tautof_platform_homepage') }}" title="back to homepage"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Back to Homepage</a>
    </footer>
{% endif %}
