{% extends "base.html.twig" %}

{% block title %} {{parent()}} - Login {% endblock %}


{% block body %}
    <div class="col-lg-6">
        {% if error %}
            <div class="alert alert-danger">{{ error.message }}</div>
        {% endif %}



        <form class="well" action="{{ path('login_check') }}" method="post">
            <fieldset>
                <legend>Please, login...</legend>
                <label for="username">Login : </label>
                <input type="text" id="username" name="_username" value="{{last_username}}"/>
                <br/>
                <label for="password">Password : </label>
                <input type="password" id="password" name="_password"/>
                <br/>
                <input class="btn btn-success" type="submit" value="Connexion"/>
            </fieldset>
        </form>
    </div>

     {% endblock %}
