{% extends "base.html.twig" %}
{% block body %}
    {% if isPublished == true %}
        <div>
            <h1>Votre annonce a bien été enregistrée</h1> 
            <a href="{{ path('tautof_platform_sendAdvertSubmitConfirmation') }}" class="btn btn-primary">Back to homepage</a>

        </div>
    {% endif %}


{% endblock %}