{% form_theme advertForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
    
    <h1>New Advert</h1>
    {{ form_start(advertForm) }}    
    {{ form_widget(advertForm) }}

    <button type="submit" class="btn btn-success">Save</button>

    {{ form_end(advertForm) }}
{% include 'back.html.twig' %}
{% endblock %}
