{% form_theme advertForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
    <div class="col-lg-5">
        <h1>New Advert</h1>
        {{ form_start(advertForm) }}    
        {{ form_widget(advertForm) }}

        <button type="submit" class="btn btn-success">Submit</button>

        {{ form_end(advertForm) }}
        {% include 'back.html.twig' %}
    </div>
    <script>
        var make = document.getElementById('advert_form_make');
        make.onchange = function () {

            location.href = "{{path('tautof_platform_new')}}/" + this.value;

        }
    </script>



{% endblock %}




